.contenedor {
    text-align: center;
    .contenido {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 48px;
    }
}

img {
    width: auto;
    height: 100%;
}
