/* construccion */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 420px;
    height: 460px;
    width: calc(100% - var(--spacing-8));
    background-color: var(--surface-container-highest);
    border-radius: var(--radius-large);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-3);
    z-index: 8;
    animation: modal-open var(--tr-duration-medium) var(--tr-easing-emphasized) forwards;
}

hr.salto {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

@keyframes modal-open {
    0% {
        transform: translate(-50%, calc(-50% + var(--spacing-5)));
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translate(-50%, calc(-50% + var(--spacing-5)));
        opacity: 1;
        visibility: visible;
    }
}

.modal-overlay {
    z-index: 6;
    visibility: visible;
    animation: fade-overlay var(--tr-duration-short) var(--tr-easing-linear) forwards;
}

@keyframes fade-overlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

/* @media screen and (max-width: 360px) {
    .frame-construccion {
        padding: 48px;
    }
}

@media screen and (max-width: 390px) {
    .frame-construccion {
        padding: 48px;
    }
}

@media screen and (max-width: 500px) {
    .frame-construccion {
        padding: 48px;
    }
} */
