<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="./icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./icons/favicon-16x16.png">
    <title>Document</title>
</head>

<body>
    <!-- <div class="container">
        <div class="content">
            <div class="layout">
                <div class="panel_logo">
                    <a href="/">
                        <img src="./images/logo.png" class="img" alt="" />
                    </a>
                    <div class="resena">
                        <p class="text-title-large">Junta de Vecinos</p>
                        <p class="text-title-large">Reserva de Aculeo</p>
                        <p class="text-body-small">Constitucion: Octubre-2024</p>
                        <p class="text-title-small">Comuna de Paine</p>
                        <p class="text-title-small">Region Metropolitana</p>
                    </div>
                </div>
                <div class="panel_info">
                    <ul>
                        <li class="text-title-large">Contacto</li>
                        <li><a href="/" class="text-body-medium text-muted">Direccion</a>
                        </li>
                        <li><a href="/" class="text-body-medium text-muted">Direccion</a>
                        </li>
                        <li><a href="/" class="text-body-medium text-muted">Direccion</a>
                        </li>
                    </ul>
                </div>
                <div class="panel_info">
                    <ul>
                        <li class="text-title-large">Incorporacion</li>
                        <li><a href="/" class="text-body-medium text-muted">Direccion</a>
                        </li>
                    </ul>
                </div>
                <div class="panel_info">
                    <ul>
                        <li class="text-title-large">Nuestra Comunidad</li>
                        <li><a href="/" class="text-body-medium text-muted">Direccion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
</body>

</html>