<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="./icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./icons/favicon-16x16.png">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/" class="text-body-medium">Inicio</a>
                </li>
                <li><a href="/login.html" class="text-body-medium">Login</a>
                </li>
                <li><a href="/quienes_somos.html" class="text-body-medium">Quienes Somos</a>
                </li>
                <li><a href="/contacto.html" class="text-body-medium">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>