/* login */

.wrapper-login {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    /* text-align: left; */
    /* color: rgb(230, 230, 230); */
    /* padding: 24px; */
    /* height: 520px; */
}

.layer-login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: left;
    /* color: rgb(230, 230, 230); */
}

.layer-terminos {
    margin-top: 12px;
    margin-bottom: 12px;
    border-top: 1px solid #bbb;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    font-size: 0.75rem;
    color: lightgrey;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 420px;
    height: 510px;
    width: calc(100% - var(--spacing-8));
    background-color: var(--surface-container-highest);
    border-radius: var(--radius-large);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-3);
    z-index: 8;
    animation: modal-open var(--tr-duration-medium) var(--tr-easing-emphasized) forwards;
}

.form-control {
    color: black;
    border-bottom: 1px solid lightgray;
}

@keyframes modal-open {
    0% {
        transform: translate(-50%, calc(-50% + var(--spacing-5)));
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translate(-50%, calc(-50% + var(--spacing-5)));
        opacity: 1;
        visibility: visible;
    }
}

.modal-overlay {
    z-index: 6;
    visibility: visible;
    animation: fade-overlay var(--tr-duration-short) var(--tr-easing-linear) forwards;
}

@keyframes fade-overlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

/* @media screen and (max-width: 360px) {
    .frame-construccion {
        padding: 48px;
    }
}

@media screen and (max-width: 390px) {
    .frame-construccion {
        padding: 48px;
    }
}

@media screen and (max-width: 500px) {
    .frame-construccion {
        padding: 48px;
    }
} */
