/* navbar */

.header {
    /* background-color: #1b3039; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 80px;
    padding: 0px 100px;

    .logo {
        cursor: pointer;

        img {
            height: 40px;
            width: auto;
            transition: all 0.3s;
        }
        img:hover {
            transform: scale(1.2);
        }
    }

    .bars {
        display: none;
    }

    .bars .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0px;
    }

    .nav-bar {
        ul {
            display: flex;
            list-style: none;
            margin: 12px 0px;

            li {
                display: block;
                padding: 8px 12px;
                transition: all 0.3s;

                span {
                    a {
                        display: block;
                        font-size: 1.6rem;
                        transition: 0.2s;
                        margin: 0 5px;
                        color: #eceff1;
                        text-decoration: none;
                    }
                }
            }
            li:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 8px 30px;

        .bars {
            display: block;
            cursor: pointer;
        }

        .bars .line {
            width: 30px;
            height: 3px;
            background-color: white;
            margin: 6px 0px;
        }

        .nav-bar {
            height: 0px;
            position: absolute;
            top: 116px;
            left: 36px;
            /* right: 0; */
            /* width: 100vw; */
            width: 340px;
            background-color: #1b3039;
            transition: 0.5s;
            overflow: hidden;
            z-index: 999;

            ul {
                display: block;
                width: fit-content;
                /* margin: 80px auto 40px auto; */
                margin: 20px auto 40px auto;
                text-align: start;
                opacity: 0;
                border: 1px solid lightgray;
                border-radius: 12px;
                padding: 32px 48px;
            }
        }
    }
}

.nav-bar.active {
    height: 280px;
}

.nav-bar.active ul {
    opacity: 1;

    .nav-bar ul li a {
        margin-bottom: 20px;
    }
}
