.frame-quienes {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 48px;
}

.wrapper-quienes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
}

.layer-quienes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}
